extends layout

block content
  #content-wrapper
    #content
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.2/fetch.min.js')
  script(src='/javascripts/bundle.js')
