extends layout

block content
  select#campaigns(style="display:none;")
    option Select a Sent Campaign
  canvas#chart
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.js")
