doctype html
html
  head
    title= title
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.2/fetch.min.js')
    script(src='/javascripts/bundle.js')
    link(rel='stylesheet', href='//fast.fonts.net/cssapi/ea74bebf-55dd-427d-bb28-72f4bc8f6bc4.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
