body {
  padding: 20px;
  font: 14px 'Freight Display W01 Bol1197167', Helvetica, Arial, sans-serif;
  background-color: hsl(300, 85%, 15%);
}
a {
  color: #00B7FF;
}
#chart {
  max-width: 700px;
  margin: 0 auto;
}
